.info {
  position: absolute;
  width: 1180px;
  height: 484px;
  left: 93px;
  top: 850px;
  display: flex;
}

.info__desc {
  margin-top: 5rem;
}

.info__header {
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  color: var(--brown);
}

.info__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-right: 5rem;
  color: #707070;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.info__btn {
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 0.8rem 1.5rem;
  background: var(--cream);
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
}

.info__btn:hover {
  background-color: transparent;
  outline: 1px var(--cream) solid;
}

.coffee_blast-1 {
  position: absolute;
  width: 498px;
  height: 272px;
  top: 1150px;
  z-index: -1;
  background: url("../../assets/images/coffee_blast.png");
  background-repeat: no-repeat;
}

.coffee__style {
  position: absolute;
  width: 1180px;
  height: 542px;
  left: 93px;
  top: 1416px;
}

.coffee__style-heading {
  text-align: center;
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  color: var(--brown);
}

.coffee__style-paragraph {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 34px;
  margin-right: 5rem;
  color: #707070;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.coffee_blast-2 {
  position: absolute;
  width: 478px;
  height: 261px;
  left: 871px;
  top: 1900px;
  z-index: -1;
  transform: scaleX(-1);
  background: url("../../assets/images/coffee_blast.png");
  background-repeat: no-repeat;
}

.coffee__benefits {
  position: absolute;
  width: 1180px;
  height: 612px;
  left: 93px;
  top: 2040px;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.benefits-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.benefits-para{
  margin-bottom: 0;
}

.coffee__style-heading{
  font-size: 30px;
}