.header {
  position: relative;
  z-index: 0;
  padding: 2rem;
  width: 1349px;
  height: 768px;
  color: #ffffff;
  background: url("../../assets/images/coffee_image.png");
}

.overlay {
  position: absolute;
  width: 100%;
  height: 768px;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: linear-gradient(
    89.82deg,
    #1e1e1e -6.88%,
    rgba(0, 0, 0, 0) 87.45%
  );
}

.header_nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 4rem;
  z-index: 2;
}

.nav {
  margin-left: 5rem;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link {
  margin-left: 4rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.nav_link:hover {
  text-decoration: underline;
}

.logo {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.2);
}

.register {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.register__signin {
  text-decoration-line: underline;
  margin-right: 3rem;
}

.register__signin:hover {
  text-decoration-line: none;
}

.register__signup {
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 0.8rem 1.5rem;
  background: var(--cream);
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
}

.register__signup:hover {
  background-color: transparent;
  outline: 1px var(--cream) solid;
  color: var(--white);
}

/* Content Header */

.header__content {
  position: absolute;
  width: 527px;
  height: 490px;
  left: 93px;
  top: 183px;
  z-index: 2;
  color: var(--white);
}

.header__content_paragraph-head {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  margin: 2rem 0;
}

.header__content-head {
  font-family: "Clicker Script";
  font-style: normal;
  font-weight: 400;
  font-size: 220px;
  line-height: 291px;
}

.header__content_desc {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 2rem;
}

.header__content_button {
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 0.8rem 1.5rem;
  background: var(--cream);
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
  border-radius: 24px;
}

.header__content_button:hover {
  background-color: transparent;
  outline: 1px var(--cream) solid;
  color: var(--white);
}

.testimonials {
  position: absolute;
  top: 3390px;
}
